 <!--ABOUT-->
    <section  class="about">
       
        <div class="cont-about" >
            <div class="img-cont">
            
                    <img id ="about-img" src="https://image.freepik.com/vector-gratis/servicio-veterinario-set-iconos_24911-7246.jpg">
            </div>
                <div class="about-inf">
                 <h1>A cerca de nosotros</h1>
                 <h1>ZOLO+COTAS</h1>
                 <p>Ofrecemos productos para el cuidado de su mascota,ademas accesorios y una variedad de productos Veterinarios </p>
                 <button id="informacion">MAS INFORMACION</button>
                </div>
        </div>
    </section>
    <!--END ABOUT-->