 <!--HEADER-->
    <header class="header">
        <div class="banner">
            <h1 id="font-2">Cuidar a  tu mascota</h1>
            <h1 id="font-2">es un compromiso</h1>
            <h1 id="font-2">pero hacerlo <strong> FELIZ </strong> es un placer</h1>
            <h2 id="font-1">TIENDA VETERINARIA</h2>
            <h2 id="font-1">"ZOLO+COTAS"</h2>
            <button id="explorar">EXPLORAR</button>
        </div>
    </header>
 <!--END HEADER-->