<!--PRODUCTS-->
    <section class="products">
       <div class="content-products">
            <div class="text-products">
            <h1>Revisa</h1>
            <h1>Nuestros Productos</h1>
            <h2>ZOLO+COTAS</h2>
            <p>Contamos con una variedad de productos para el cuidada de tu mascota
                ademas de un excelente servicio medico para la misma
            </p>
            <button id="inventario">INVENTARIO</button>
        </div>
        <div class="img-products">
            {{inventario}}
        </div>
       </div>



    </section>
    <!--END PRODUCTS-->